<div class="card">
    <div class="">
        <p>{{unitNumber}}</p>
        <p>{{customerUnitNumber}}</p>
        <p>{{vin}}</p>
        <p>{{category}}</p>
        <p>{{label}}</p>
    </div>
</div>

<section class="card">
<a href="/vehicle/{{id}}">

    <header>{{name}}</header>

    <div class="card-body">
    <p>Unit Number {{unitNumber}}</p>
    <p>Customer Unit Number{{customerUnitNumber}}</p>
    <p>Vin {{vin}}</p>
    <p>Category{{category}}</p>
    <p>Lable {{label}}</p>
    </div>
</a>
</section>