<section class="card">
<a href="/vehicle/{{id}}">

    <header>{{name}}</header>

    <div class="card-body">
    <p>Unit Number {{unitNumber}}</p>
    <p>Customer Unit Number{{customerUnitNumber}}</p>
    <p>Vin {{vin}}</p>
    <p>Category{{category}}</p>
    <p>Lable {{label}}</p>
    </div>
</a>
</section>